#logo {
    width: 700px;
    height: 180px;
    background-color: orange;
    color: green;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

#head1 {
    width: 350px;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 10px;
}

#head2 {
    width: 350px;
    height: 100px;
    background-color: gray;
    color: yellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 10px;
}

#contenido {
    width: 700px;
    height: 600px;
    background-color: white;
    color: brown;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

#pie{
    display: flex;
    justify-content: space-between;
}

#pie1{
    width: 200px;
    height: 80px;
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 10px;
}

#pie2{
    width: 300px;
    height: 80px;
    background-color: gray;
    color: yellow;
    font-family: 'Comic Sans MS';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 10px;
}

#pie3{
    width: 200px;
    height: 80px;
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin: 10px;
}